%p#notice= notice
%p
  %strong Name:
  = @person.name
%p
  %strong Lastname:
  = @person.lastname
%p
  %strong Photo:
  = image_tag @person.photo.url(:medium)

  = link_to (button_tag "Ver Chalequeos", type: "button", |
    :class => "btn btn-primary"), person_bullyings_path(@person)
