<h1>Lista de contactos</h1>
<br>
<p>
  <h3>Buscar</h3>
  <%= form_tag("/", method: "get") do %>
    <%= label_tag(:name, "Nombre:") %>
    <%= text_field_tag(:name) %>
    <%= submit_tag("Buscar") %>
  <% end %>
</p>
<br>
<p>
	<h3>Lista de contactos</h3>
</p>
<ol>
  <% @contacts.each do |contact| %>
    <li><%= contact.name %></li>
  <% end %>
</ol>
